<%= form_for @list do |f| -%>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="action">
    <%= f.submit class: 'btn btn-primary' %> <%= link_to 'Back to Lists', lists_path, class: 'btn btn-info' %>
  </div>
<% end -%>