<table>
  <tr>
    <th>Description</th>
    <th>Due</th>
    <th>Completed?</th>
    <th>Note</th>
    <th> </th>
  </tr>

  <% @tasks.each do |task| -%>
    <tr>
      <td><%= link_to task.description, list_task_path(@list, task) %></td>
      <td><%= task.due %></td>
      <td><%= task.completed? %></td>
      <td><%= task.note %></td>
      <td>
        <%= link_to 'Destroy', list_task_path(@list, task), method: :delete, confirm: 'Are you sure?' %>
      </td>
    </tr>
  <% end -%>

</table>

<%= link_to 'New Task', new_list_task_path(@list) %> | <%= link_to 'Back to Lists', lists_path %>